<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width"/>
    <script src="script/angular.min.js"></script>
    <title>ang9</title>
</head>
<html>
<body ng-app="myApp" ng-controller="myCtrl">
    <button ng-click="myFunc()">Click Me!</button>
    <div ng-show="showMe">
        <h1>flowers</h1>
        <div>rose</div>
        <div>jasmine</div>
        <div>lotus</div>
    </div>

    <div ng-app="">
        <form>
            First Name: <input type="text" ng-model="firstname">
        </form>
        <h1>You entered: {{firstname}}</h1>
    </div>

    <form>
        Check to show family:
        <br>
        <input type="checkbox" ng-model="check">

        <input type="radio" ng-model="gender" value="male">Male
        <input type="radio" ng-model="gender" value="female">Female
        <input type="radio" ng-model="gender" value="other">Other
<br>
        Select a topic:
        <select ng-model="gender">
            <option value="">
            <option value="male">Male
            <option value="female">Female
            <option value="other">Other
        </select>

    </form>
    <h1 ng-show="check">My Family</h1>

    <div ng-switch="gender">
        <div ng-switch-when="male">
            <p>assisting jobs.</p>
        </div>
        <div ng-switch-when="female">
            <p>carriers.</p>
        </div>
        <div ng-switch-when="others">
            <p>not.</p>
        </div>
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function($scope) {
        $scope.showMe = false;
        $scope.myFunc = function() {
            $scope.showMe = !$scope.showMe;
        }
    });
</script>
<p>Click the button to show/hide the menu.</p>
</body>
</html>